@import "../../../scss/index";

.mainOpt {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-top: -15%;
    width: 15rem;
    height: 15rem;
  }

  .ui.button {
    @include mainButton;
    padding: 1.25rem 0;
  }
}
