@import "../../../scss/index";

.mainOpt {
  h2 {
    margin-top: -10px;
    font-size: 50px;
    color: $font-light;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .ui.button {
    @include mainButton;
    margin-bottom: 20px;
    padding: 20px 0;
  }
}
