@import "../../../scss/index.scss";

.quiz {
  background-color: $background-grey-light;
  width: auto;
  min-width: 25rem;
  height: auto;
  padding: 1rem;
  padding-top: 0rem;
  z-index: 1;
  border: {
    radius: 1rem;
    top-left-radius: 0;
    top-right-radius: 0;
  }

  p {
    margin: 0 !important;
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
    margin-bottom: 2rem !important;
  }

  .topbar {
    margin-top: -8%;
    margin-left: -4%;
  }

  &__questions {
    max-height: 20rem;
    overflow: {
      x: hidden;
      y: auto;
    }

    .fields {
      display: flex;
      flex-direction: column !important;
      align-items: center;

      .toAsk {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;

        .ui.checked.radio.checkbox {
          background-color: $primary-color-hover;
        }

        button {
          margin: 0.2rem;
          height: 2rem;
          border: 0;
          border-radius: 0.5rem;

          &:hover {
            background-color: $background-grey-hover-2;
          }

          label {
            padding: 0;

            &::before {
              display: none;
            }

            &::after {
              display: none;
            }
          }
        }
      }
    }
  }

  .quizButtons {
    width: 100%;

    .ui.button {
      background-color: $sidebar-button-color;

      &:hover {
        background-color: $sidebar-button-color-hover;
      }
    }
  }

  .ui.button.openButton {
    width: 100%;
    background-color: $sidebar-button-color;
    color: $font-light;
    font-size: 1.2rem;
    margin-top: 4%;

    &:hover {
      background-color: $sidebar-button-color-hover;
    }
  }

  h2 {
    text-align: center;
  }
}

.borderFixQuiz {
  div.left-custom-border:before,
  div.rigth-custom-border:before {
    top: 0%;
    height: 100%;
    border-color: $main-color;
  }
}
