@import "../../../scss/index.scss";

div.rigth-custom-border:before {
  content: "";
  position: absolute;
  right: 0;
  top: 10%;
  height: 90%;
  border-bottom-right-radius: 1rem;
  border-right: 4px solid $main-color;
  z-index: 0;
}

div.left-custom-border:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  height: 90%;
  border-bottom-left-radius: 1rem;
  border-left: 4px solid $main-color;
  z-index: 0;
}

div.bottom-custom-border:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1rem;
  width: 100%;
  border-radius: 2rem;
  border-bottom: 4px solid $main-color;
  z-index: 0;
}
