@import "../../../scss/index.scss";

.topbar {
  position: absolute;
  width: 100%;
  height: 16%;
  min-height: 2rem;
  max-height: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: $main-color;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  z-index: 2;

  .setting.large.icon {
    &:hover {
      cursor: pointer;
      color: $background-grey-hover-2;
    }
  }

  .ui.button.close-button {
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: $main-red;

    i {
      position: absolute;
      font-size: 1.1rem;
      top: 27%;
      margin-left: -0.63rem !important;
    }

    &:hover {
      background-color: $red-hover;
    }
  }
}
