@import "../../../scss/index.scss";

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  h1 {
    text-align: center;
    font: 35px;
    padding-bottom: 20px;
  }

  .ui.form {
    .field {
      span {
        color: $main-red;
        padding: 0;
      }

      .input {
        height: 50px;
        margin: 0.5rem;

        ::placeholder {
          color: $font-dark;
        }

        input {
          font-size: 1.2rem;
          background-color: $font-light;
          color: $font-dark;
          border-radius: 0;
          border-bottom: 3px solid $information;
        }

        i {
          font-size: 19px;
          opacity: 1;
          color: $font-dark !important;
        }

        &.error {
          input {
            border-bottom: $danger;
          }
        }
      }
    }

    .button {
      @include mainButton;
    }

    .error-text {
      padding-left: 15px;
    }
  }

  .resend-verification-email {
    padding: 20px 20px 0 20px;
    text-align: center;

    span {
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__options {
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;

    p {
      &:first-of-type {
        margin-bottom: 30px;

        &:hover {
          cursor: pointer;
          color: $font-grey;
        }
      }

      &:last-of-type {
        color: $font-grey;

        span {
          text-decoration: underline;
          padding-left: 5px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
