@import "../../../scss/index.scss";

.auth-options {
  h2 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .ui.button:first-of-type {
    margin-bottom: 10px;
  }

  .ui.button.register,
  .ui.button.login {
    @include mainButton;
  }
}
