@import "../../scss/index.scss";

.background {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: $main-background-color;
}

.panel {
  color: $font-light;

  &__input {
    width: 100vw;
    height: 100vh;
  }
}

.ui.top.left.popup.transition.visible {
  margin-top: -2.7% !important;
  margin-left: -0.3% !important;
}
