@import "../../../scss/index.scss";

@mixin buttonStyle() {
  color: $font-light;
  margin-top: 0.5rem;
  width: 10rem;
  border-radius: 1rem;
  background-color: $sidebar-button-color;

  &:hover {
    background-color: $sidebar-button-color-hover;
  }
}

@mixin iconBar() {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: $sidebar-topbar;
}

.Sidebar {
  &__extendedOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid $font-dark;
    margin-bottom: 0.2rem;
    border-radius: 1rem;
    @include iconBar();

    .ui.label {
      font-size: 1rem;

      &:hover {
        cursor: pointer;
        background-color: $background-grey-hover-2;
      }

      .detail {
        opacity: 1;
      }
    }

    i {
      &:hover {
        cursor: pointer;
      }
    }

    .eye.large.icon {
      &:hover {
        color: #7cf900;
      }
    }

    .hide.large.icon {
      &:hover {
        color: $red-input;
      }
    }

    .lock.large.icon {
      &:hover {
        color: $warning;
      }
    }
  }

  &__main {
    width: 20rem;
    z-index: 1;
    text-align: center;

    &__topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include iconBar();

      .ui.medium.basic.circular.label {
        height: 0;
        font-size: 1rem;

        p {
          margin-top: -0.3rem;
        }

        &:hover {
          color: $font-light;
          background-color: $main-color;
        }
      }

      &--right {
        .arrow.alternate.circle.left.large.icon {
          &:hover {
            color: $font-grey-light;
            cursor: pointer;
          }
        }

        .angle.double.up.large.icon {
          &:hover {
            color: $information-darker;
            cursor: pointer;
          }
        }

        .angle.double.down.large.icon {
          &:hover {
            color: $information-darker;
            cursor: pointer;
          }
        }

        .close.large.icon {
          &:hover {
            color: $red-hover;
            cursor: pointer;
          }
        }

        .circle.notch.large.icon {
          &:hover {
            color: $font-dark;
            cursor: pointer;
          }
        }
      }

      &--left {
        h3 {
          display: flex;
          flex-direction: row;
        }
      }
    }

    .ui.fluid.vertical.Sidebar__main__menu.menu {
      margin: 0;
      border-radius: 0 0 1rem 1rem;
      border: 4px solid $sidebar-topbar;
      border-top: 0;

      .item {
        transition: font-size 0.35s;
        font-size: 1.2rem;
        border-bottom: 1px solid $sidebar-topbar;

        &:last-child {
          border: none;
        }

        .options-text {
          textarea {
            resize: none;
            width: 230px;
            height: 81px;
          }

          button {
            @include buttonStyle();
          }
        }

        .options-image,
        .options-file {
          display: flex;
          flex-direction: column;
          align-items: center;

          .ui.icon.input {
            border-color: #09ce9d !important;
            color: #2ab391;
          }

          &__count {
            display: flex;
            margin: 0.5rem 0 -0.5rem 0.5rem;
            h3 {
              margin-right: 0.3rem;
            }
          }

          .ui.icon.input {
            height: 100px;
            width: 100px;
            background-color: $font-light;
            border-radius: 50px;
            border: red solid 5px;

            input {
              opacity: 0;
              border-radius: 5px !important;

              &:hover {
                cursor: pointer;
              }
            }

            i {
              opacity: 1;
              margin-right: -106px;
              width: 300px;
              font-size: 60px;
              font-weight: bold;
            }
          }

          button {
            @include buttonStyle();
          }
        }

        .options-image {
          .ui.icon.input {
            border-color: #09ce9d !important;
            color: #2ab391;
          }
        }

        .options-file {
          .ui.icon.input {
            border-color: $main-red !important;
            i {
              color: $main-red;
            }
          }
        }

        .options-video {
          i,
          input {
            color: red;
            background-color: white;
            margin: -0.5rem 1rem 1rem 1rem;
          }

          input {
            margin-bottom: 0.25rem;
            color: $font-dark;
          }

          button {
            @include buttonStyle();
          }
        }
      }
    }
  }

  #effects {
    &:hover {
      font-size: 1.5rem;
    }
  }

  #quizButton {
    @include buttonStyle();
  }

  .options-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;

    ::placeholder {
      color: $font-dark !important;
      opacity: 0.5;
    }

    &__question {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1.5rem;

      .ui.input.mainInput {
        width: 20rem;
        color: black;
      }

      p {
        font-size: 1.5rem;
      }
    }

    #addQuestionButton {
      color: $font-dark;
      background-color: $information-darker;

      &:hover {
        background-color: $information;
      }
    }

    .counter {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      i {
        height: auto !important;
        width: auto !important;
        padding: 6px 5px 5px 6px !important;
        margin: 5px !important;

        &:hover {
          cursor: pointer;
          background-color: $font-light;
          color: $font-dark;
          border-radius: 1rem;
        }
      }

      p {
        font-size: 1.5rem;
        margin: 0;
      }
    }

    .ui.labeled.input:nth-last-of-type(2) {
      visibility: hidden;
      width: 50%;
      margin-left: 15%;
      margin-top: 2%;

      .ui.label.label {
        background-color: $sidebar-button-color;
        color: $font-light;
      }
    }
  }
}

.visitors-sidebar {
  display: flex;
  margin-top: -70%;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: $information-darker;

  i {
    &:hover {
      cursor: pointer;
    }
  }

  .arrow.alternate.circle.left.huge.icon {
    &:hover {
      color: $sidebar-topbar;
    }
  }

  .sync.huge.icon {
    &:hover {
      color: $sidebar-topbar;
    }
  }
}
