@import "../../../scss/index.scss";

.panel__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  top: 0;
  position: fixed;
  background-color: $background-grey-dark-light;
  width: 350px;
  height: auto;
  margin-top: 20px;
  box-sizing: border-box;
  z-index: 2;
  border: solid 5px $primary-color {
    top-right-radius: 25px;
    bottom-right-radius: 25px;
    left: none;
  }

  .top-bar {
    display: flex;
    flex-direction: row;
    padding-top: 0.7rem;
    align-self: flex-end;

    .no-arrow {
      padding-right: 14rem;
    }

    h3 {
      padding-right: 12rem;
    }

    .top-icons {
      display: flex;
      flex-direction: row;

      &:hover {
        cursor: pointer;
      }

      .arrow.alternate.circle.left.large.icon {
        &:hover {
          color: $font-grey;
        }
      }

      .key.large.icon {
        &:hover {
          color: $warning;
        }
      }

      .close.large.icon {
        &:hover {
          color: $red-hover;
        }
      }

      .save.large.icon {
        &:hover {
          color: $primary-color-hover;
        }
      }
    }
  }

  .options-file {
    .ui.icon.input {
      i {
        color: red;
      }
    }
  }

  .options-image {
    .ui.icon.input {
      border-color: #09ce9d !important;
      color: #2ab391;
    }
  }

  .options-file,
  .options-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;

    .ui.input {
      width: 20rem;
    }

    .ui.icon.input {
      height: 100px;
      width: 100px;
      background-color: #ffff;
      border-radius: 50px;
      border: red solid 5px;

      input {
        opacity: 0;
        border-radius: 5px !important;

        &:hover {
          cursor: pointer;
        }
      }

      i {
        opacity: 1;
        margin-right: -106px;
        width: 300px;
        font-size: 60px;
        font-weight: bold;
      }
    }

    .ui.active.visible.fluid.selection.dropdown.default.text {
      background-color: red !important;
      color: blue !important;
    }

    .ui.fluid.selection.dropdown {
      .item {
        text-align: center !important;
        font-size: 17px !important;

        .active.selected.item,
        .item {
          &:hover {
            background-color: $background-grey-light-hover !important;
            color: $font-light !important;
            text-align: center !important;
          }
        }
      }
    }

    &__count {
      display: flex;
      margin-top: 0.8rem;

      h3 {
        margin-right: 0.5rem;
      }

      i:hover {
        color: $information;
        cursor: pointer;
      }
    }
  }

  .selector {
    padding-bottom: 20px;
    padding-top: 15px;
    font-weight: bold;

    .options-image.ui.fluid.selection.dropdown,
    .ui.active.visible.fluid.selection,
    .ui.fluid.selection.dropdown,
    .item {
      text-align: center !important;
      font-size: 15px !important;

      .item:hover {
        background-color: $background-grey-light-hover;
        color: $font-light;
        text-align: center !important;
      }
    }
  }

  .options-video,
  .options-text {
    padding-top: 0px;
    padding-bottom: 0.5rem;
  }

  .options-video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .ui.input {
      width: 300px;
    }
  }

  .options-text {
    display: flex;
    flex-direction: column;

    textarea {
      width: 300px;
      height: 170px;
      margin-top: 20px;
    }
  }

  .options-quiz {
    border-radius: 15px;
    font-weight: bold;
    background-color: $primary-color;
    padding: 10px;
    margin: 0px 7px 7px 7px;

    .ui.form {
      &:first-child {
        color: $background-grey-dark;
      }

      .mainInput {
        padding-bottom: 20px;
      }
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .ui.fluid.selection.dropdown {
        margin-bottom: 70px;

        .item:hover {
          background-color: $background-grey-light-hover;
          color: $font-light;
        }
      }

      .ui.input {
        padding-bottom: 10px;
      }

      .ui.button:first-of-type {
        margin-top: -50px;
      }

      .counter {
        display: flex;
        align-items: center;
        width: 100%;

        h3 {
          margin-right: 5px;
          margin-left: 10px;
          margin-top: 10px;
          background-color: $font-light;
          padding: 12px;
          border-radius: 20px;
          font-size: 16px;
          text-align: center;
          width: 240px;
        }

        i {
          background-color: $font-light;
          height: auto !important;
          width: auto !important;
          padding: 12px 10px 10px 12px !important;
          margin: 5px !important;
          border-radius: 30px;

          &:hover {
            cursor: pointer;
            color: $font-light;
            background-color: black;
          }
        }
      }

      .ui.button {
        margin-top: 10px;
        padding: 20px;
        background-color: $background-grey-dark-light;
        font-size: 20px;

        &:hover {
          color: $background-dark;
          background-color: $background-grey-hover-2;
        }
      }
    }
  }
}

@media (max-height: 53rem) {
  .panel__box {
    position: absolute;
  }
}
