@import "../../../scss/index.scss";

.register-form {
  h1 {
    color: $font-light;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
  }

  .ui.form {
    .field {
      .input {
        input {
          background-color: $background-grey;
          border: 0;
          font-size: 16px;
          color: $font-light;

          &:hover,
          &:active,
          &:focus {
            background-color: $background-grey-hover;
            border: 0;
          }
        }

        i {
          color: $font-light;
          font-size: 19px;
        }

        &.error {
          input {
            border-bottom: $danger;
          }
        }
      }
    }

    .button {
      @include mainButton;
    }

    .error-text {
      color: $font-light;
      padding-left: 15px;
    }
  }

  &__options {
    margin-top: 30px;
    color: $font-light;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;

    p {
      &:first-of-type {
        margin-bottom: 20px;

        &:hover {
          cursor: pointer;
          color: $font-grey;
        }
      }

      &:last-of-type {
        color: $font-grey;

        span {
          color: $font-light;
          text-decoration: underline;
          padding-left: 5px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
