@import "../../../scss/index.scss";

.register-form {
  h1 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
  }

  .ui.form {
    .field {
      .input {
        height: 50px;
        margin: 0.1rem;

        input {
          font-size: 1.2rem;
          background-color: $font-light;
          color: $font-dark;
          border-radius: 0;
          border-bottom: 3px solid $information;
        }

        i {
          font-size: 19px;
          opacity: 1;
          color: $font-dark !important;
        }

        &.error {
          input {
            border-bottom: $danger;
          }
        }
      }
    }

    .button {
      @include mainButton;
    }

    .error-text {
      padding-left: 15px;
    }
  }

  &__options {
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;

    p {
      &:first-of-type {
        margin-bottom: 20px;

        &:hover {
          cursor: pointer;
          color: $font-grey;
        }
      }

      &:last-of-type {
        color: $font-grey;

        span {
          text-decoration: underline;
          padding-left: 5px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
