@import "../../scss/index.scss";

.main_panel {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $main-background;

  &__dark {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100%;
    z-index: 0;
  }

  &__box {
    position: relative;
    background-color: #a3dcef;
    width: 500px;
    z-index: 1;
    padding: 50px 70px;
    border-radius: 25px;
    border: solid 3px $font-dark;
  }
}
