@import "../../../scss/index.scss";

.ui.modal.basic-modal {
  background-color: $background-grey;
  border-radius: 12px;
  border: 2px solid $background-grey-hover-2;
  max-height: 50rem;
  overflow: auto;

  ::placeholder {
    color: $font-grey;
  }

  input {
    color: $font-dark !important;
    background-color: $background-grey-hover-2 !important;
  }

  .header {
    text-align: center;
    color: $font-light;
    background-color: transparent;

    h3 {
      margin: 0;
    }

    i {
      position: absolute;
      right: 10px;
      top: 16px;
      height: auto;

      &:hover {
        cursor: pointer;
        background-color: red;
        border-radius: 10px;
      }
    }
  }

  .content {
    color: $font-light;
    background-color: transparent;
  }
}

.AskForSave {
  color: red;
  text-align: center;
  margin-top: -25px;

  .button.ui.button {
    margin: 10px;
    font-size: 15px;
    color: $font-dark;
  }
}

.googleOption__deletion {
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserListNavBar {
  font-size: 1rem;

  th {
    font-size: 1.2rem;
  }

  img {
    border-radius: 5rem;
    background-color: black;
  }

  td {
    margin: -1rem !important;
  }
}

.options-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;

  ::placeholder {
    color: $font-dark !important;
    opacity: 0.5;
  }

  &__question {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;

    .ui.input.mainInput {
      width: 20rem;
      color: black;
    }

    p {
      font-size: 1.5rem;
    }
  }

  #addQuestionButton {
    color: $font-dark;
    background-color: $information-darker;

    &:hover {
      background-color: $information;
    }
  }

  .counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    i {
      height: auto !important;
      width: auto !important;
      padding: 6px 5px 5px 6px !important;
      margin: 5px !important;

      &:hover {
        cursor: pointer;
        background-color: $font-light;
        color: $font-dark;
        border-radius: 1rem;
      }
    }

    p {
      font-size: 1.5rem;
      margin: 0;
    }
  }

  .ui.labeled.input:nth-last-of-type(2) {
    visibility: hidden;
    width: 50%;
    margin-left: 15%;
    margin-top: 2%;

    .ui.label.label {
      background-color: $sidebar-button-color;
      color: $font-light;
    }
  }
}
