@import "../../../scss/index.scss";

.ShowText {
  border-radius: 1.2rem;
  width: 200px;
  height: 200px;
  background-color: $font-light;

  .ui.container {
    padding: 0.5rem;
    white-space: pre-line;
    word-spacing: 0.2rem;

    p {
      color: black;
      padding-top: 15%;
      font-size: 1.2rem;
    }
  }
}
