@import "../../../scss/index.scss";

.ShowText {
  border-radius: 1.2rem;
  max-height: 300px;
  max-width: 300px;
  min-height: 100px;
  min-width: 100px;
  width: auto;
  height: auto;
  background-color: $font-light;
  white-space: pre-line;
  text-align: center;
  word-wrap: break-word;
  word-spacing: 0.1rem;
  z-index: 1;

  .topbar {
    margin-top: -1.8rem !important;
  }

  .enableMovement {
    margin-top: 10%;
    width: 100%;
    height: 85%;

    p {
      color: $font-dark;
      padding: 1rem;
      font-size: 1.2rem;
    }
  }
}
