@import "../../../scss/index.scss";

.fileItem {
  border-radius: 1.2rem;
  text-align: center;
  background-color: $information-darker;
  max-width: 10rem;
  max-height: 12rem;
  z-index: 1;

  &__link {
    padding: 1rem;
    padding-top: 2.5rem;

    &:hover {
      opacity: 0.75;
      border-radius: 1rem;
      cursor: pointer;
    }
  }
}
